@import 'variables';
@import 'mixin';

body {
  @include fuente-principal;
  background-color: $color-fondo;
  margin: 0;
  padding: 0;
}

h1 {
  @include fuente-titulo;
  font-size: $font-h1;
  margin: $margin-h1;
}

p {
  font-size: $font-p;
  text-align: left;
  margin: $margin-p;
  @include fuente-principal;
}