@import 'variables';
@import 'mixin';

.contenedor-contacto {
  padding: $padding-general;
  background-color: $color-form-bg;
  @include border-radius();
  margin: $margin-contenedor;
  max-width: 1200px;
  @include box-shadow-default;
}

.contenido_contacto {
  @include contenedor-flex($justify: space-between, $align: flex-start);
}

.info-contacto {
  flex: 1;
  min-width: 400px;
  max-width: 600px;
  padding: $padding-general;

  h1 {
    @include fuente-titulo;
    font-size: $font-h1;
    margin-bottom: 20px;
  }

  p {
    font-size: $font-p;
    text-align: left;
    margin: 0 0 20px 0;
    @include fuente-principal;
  }
}

.iconos {
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: $color-texto;
    margin-bottom: 10px;
    font-size: $font-small;
  }

  i {
    font-size: 20px;
    color: $color-texto;
  }
}

.mapa img {
  width: 100%;
  max-width: $width-img-5-6-7;
  @include border-radius();
  margin-top: $margin-img-top;
}

.formulario-contacto {
  flex: 1;

  h2 {
    font-size: $font-p;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  input,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    @include border-radius($border-radius-small);
    @include fuente-principal;
    font-size: 14px;
  }

  textarea {
    height: 150px;
    resize: vertical;
  }

  button {
    align-self: flex-start;
    @include boton();
  }
}

iframe {
  @include border-radius();
  @include box-shadow-default;
  max-width: 100%;
}

main {
  background-color: $color-fondo;
  padding: $padding-general;
}