

main {
    background-color: rgb(228, 231, 213);
    padding: 20px;
  }
  
  .contenedor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .contenedor .texto {
    flex: 1;
    min-width: 300px;
  }
  
  
  .servicios {
    text-align: center;
    margin: 40px auto;
  }
  
  .servicios h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .servicios ul {
    list-style: none;
    padding: 0;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .servicios li {
    margin: 10px 0;
    position: relative;
    padding-left: 25px;
  }
  
  .servicios li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: green;
  }