@import 'variables';
@import 'mixin';

main {
  background-color: $color-fondo;
  padding: $padding-general;
}

.contenedor {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;

  .texto {
    padding: 20px;
    color: black;
  }

  .imagenPerfil {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  // Modo mobile
  @media (max-width: 767px) {
    grid-template-columns: 1fr;

    .contenedor{
      width: 1vw;
      text-align: center;


    }



    .texto {
      align-items: center;

      background-image: url("../images/perfil.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: white;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      min-height: 100vh; // Asegura que el fondo se vea bien
    }

    
    .imagenPerfil {
      display: none !important;
    }
  }
}







.servicios {
  text-align: center;
  margin: $margin-contenedor;

  h2 {
    font-size: $font-h2;
    margin-bottom: 20px;
    @include fuente-titulo;
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
  }

  li {
    margin: 10px 0;
    position: relative;
    padding-left: 25px;

    &::before {
      content: "✔";
      position: absolute;
      left: 0;
      color: $color-verde-check;
    }
  }
}