
.contenedor-contacto {
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    margin: 40px auto;
    max-width: 1200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contenido_contacto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  
  

  .info-contacto {
    flex: 1;
    min-width: 400px;
    max-width: 600px;
    padding: 20px;
  }
  
  .info-contacto h1 {
    font-family: "Artifika", serif;
    font-weight: 400;
    font-size: 50px;
    color: cadetblue;
    margin-bottom: 20px;
  }
  
  .info-contacto p {
    font-size: 20px;
    text-align: left;
    margin: 0 0 20px 0;
    font-weight: 400;
    font-style: normal;
  }
  

  .iconos a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .iconos i {
    font-size: 20px;
    color: black;
  }
  

  .mapa img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-top: 20px;
  }
  

  .formulario-contacto {
    flex: 1;
  }
  
  .formulario-contacto h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .formulario-contacto form {
    display: flex;
    flex-direction: column;
  }
  
  iframe {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
  }
  
  .formulario-contacto label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formulario-contacto input,
  .formulario-contacto textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: "Kite One", sans-serif;
    font-size: 14px;
  }
  
  .formulario-contacto textarea {
    height: 150px;
    resize: vertical;
  }
  
  .formulario-contacto button {
    align-self: flex-start;
    background-color: lightsalmon;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .formulario-contacto button:hover {
    background-color: coral;
  }
  
  main {
    background-color: rgb(228, 231, 213);
    padding: 20px;
  }