@import 'variables';



.custom-navbar{
    background-color:$color-header !important;
}


.nav-link {
    color: $color-texto !important;
    font-family: $font-principal;
    font-weight: 600;
    font-size: 1.1rem;
  
}
#logo{
    width: 60px;
    height: 60px;
    border-radius: 25px;
}
