
@mixin flex-column($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
  }
  
  
  @mixin responsive-grid($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: 20px;
  }
  
 
  @mixin imagen-estilo {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.02);
    }
  }
  
  
  @mixin titulo-principal {
    font-family: $font-titulos;
    font-size: $font-h1;
    color: $color-titulo;
    margin-bottom: $margin-h1;
    text-align: center;
  }
  
  @mixin titulo-secundario {
    font-family: $font-titulos;
    font-size: $font-h2;
    color: $color-titulo;
    margin-bottom: $margin-h1;
    text-align: center;
  }
  
  
  @mixin parrafo-justificado {
    font-size: $font-p;
    text-align: justify;
    margin-bottom: $margin-p;
    line-height: 1.7;
  }
  
  
  @mixin contenedor-sombra($bg: $color-form-bg) {
    background-color: $bg;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: $padding-general;
    margin: 0 auto;
  }
  

  @mixin item-check {
    font-size: $font-small;
    padding: 10px;
    border-left: 4px solid $color-verde-check;
    background-color: lighten($color-verde-check, 45%);
    border-radius: $border-radius-small;
  
    &::before {
      content: "✔";
      color: $color-verde-check;
      margin-right: 10px;
    }
  }