// Tipografías
$font-principal: "Kite One", sans-serif;
$font-titulos: "Artifika", serif;

// Colores generales
$color-fondo: rgb(228, 231, 213);
$color-header: lightsalmon;
$color-header-hover: coral;
$color-titulo: cadetblue;
$color-texto: black;
$color-verde-check: green;
$color-form-bg: white;
$color-footer-bg: rgb(221, 210, 210);
$color-pregunta-derecha: #b2bdb2;
$color-pregunta-izquierda: #cdd2d6;
$color-pregunta-derecha-after: #c8cfc8;
$color-pregunta-izquierda-after: #c8d6e2;
$color-pregunta-text: #333;
$icon-colors: (
  facebook: #3b5998,
  twitter: #1da1f2,
  instagram: #e4405f,
  linkedin: #0077b5
);

// Sombra y bordes
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$border-radius: 10px;
$border-radius-small: 6px;

// Tamaños
$font-h1: 50px;
$font-h2: 30px;
$font-p: 20px;
$font-small: 16px;
$icon-size: 50px;

$width-logo: 100px;
$width-perfil: 300px;
$width-img-5-6-7: 300px;
$height-img-5-6-7: 200px;

$padding-general: 20px;
$padding-img: 50px;

// Márgenes
$margin-h1: 30px;
$margin-p: 30px;
$margin-contenedor: 40px auto;
$margin-img-top: 20px;

